<div class="container-fluid">
    <form action="{%url 'save_material'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{% if material.pk %}{{material.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="name" class="control-label">Name</label>
            <input type="text" name="name" id="name" class="form-control form-control-sm rounded-0" value="{% if material.name %}{{material.name}}{% endif %}" required>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="control-label">Description</label>
            <textarea rows="5" name="description" id="description" class="form-control form-control-sm rounded-0 bg-white" required>{% if material.description %}{{material.description}}{% endif %}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="supplier" class="control-label">Supplier</label>
            <input type="text" name="supplier" id="supplier" class="form-control form-control-sm rounded-0" value="{% if material.supplier %}{{material.supplier}}{% endif %}">
        </div>
        <div class="form-group mb-3">
            <label for="cost" class="control-label">Cost</label>
            <input type="text" name="cost" id="cost" class="form-control form-control-sm rounded-0" value="{% if material.cost %}{{material.cost}}{% endif %}" required>
        </div>
        <div class="form-group mb-3">
            <label for="status" class="control-label">Status</label>
            <select name="status" id="status" class="form-select form-select-sm rounded-0 bg-white text-dark" required>
                {% if material.status and material.status == True %}
                <option value="1" selected>Active</option>
                {% else %}
                <option value="1">Active</option>
                {% endif %}
                {% if material.status and material.status == False %}
                <option value="0" selected>Inactive</option>
                {% else %}
                <option value="0">Inactive</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="stock" class="control-label">Stock</label>
            <input type="text" name="stock" id="stock" class="form-control form-control-sm rounded-0" value="{% if material.stock %}{{material.stock}}{% endif %}" required>
        </div>
    </form>
</div>
