{% extends "posApp/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">รายการที่ชำระเเล้ว</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">รหัสบิล</th>
                        <th class="text-center py-1">ชื่อโต๊ะ</th>
                        <th class="text-center py-1">ยอดซื้อรวม</th>
                        <th class="text-center py-1">ยอดซื้อสุทธิ</th>
                        <th class="text-center py-1">จำนวนนรายการ</th>
                        <th class="text-center py-1">ดูบิล</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale,i in sales %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ sale.code }}</td>
                        <td class="px-2 py-1 text-center">{{ sale.tablename }}</td>
                        <td class="px-2 py-1 text-center">{{ sale.sub_total }}</td>
                        <td class="px-2 py-1 text-center">{{ sale.grand_total }}</td>
                        <td class="px-2 py-1 text-center">{{ i }}</td>
                        <td class="px-2 py-1 text-center">
                            <form method="post" action="{% url 'review_bill_checkout' %}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ sale.pk }}">
                                <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="submit"  title="checkout">
                                    <i class="material-icons mdc-button__icon">checkout</i>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            //uni_modal("Add New Product", "{% url 'createbill' %}")
            fetch("{% url 'createbill' %}")
            .then(response => response.json())
            .then(data => {
            // do something with the data
            console.log(data);
            location.reload();
        })
        .catch(error => console.error(error));
        })
        $('.edit-data').click(function() {
            fetch("{% url 'manage_bill' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this bill?", "delete_bill", [$(this).attr('data-id')])
        })

        $('#uni_modal').on('shown.bs.modal', function(a) {
            $('#category_id').select2({
                placeholder: "Please Select Category Here",
                width: '100%',
                dropdownParent: $('#uni_modal')
            })
        })
    })

    function delete_bill($id) {
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete_bill' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                }
            }
        })
    }
    
</script>
{% endblock ScriptBlock %}